//Colors 
$LightSlateGray:  #778899;
$lightgray: #888686;
$gray: #797d7f;
$grayShadow: #a1a1a1;
$moonMist:#FFF9;
$DarkSlateGray:  #2F4F4F;

$black:  #000000;
$CodGray: #141414;
$blackShadow: #0003;

$Gainsboro:  #DCDCDC;
$white:  #ffffff;
$whiteShadow: #e0e5ec;
$whitelust:#ede8e2;
$splitLeft: #fae9b8;

$splitRight: #042242;
$SanMarino: #4267b2;
$Cerulean: #00aced;
$Teal:	#008080;
$purp: #4A235A ;
$DeepSkyBlue:	#00BFFF;
$blueShadow: #5c87fe;
$SlateBlue:	#6A5ACD;
$pink:#7d43a1;

$Tomato:	#FF6347;
$redSolid: #FF0000;
$Maroon:	#800000;
$DarkRed:	#8B0000;

$DarkGoldenrod:	#B8860B;
$Gold:	#FFD700;

$MediumSpringGreen:	#00FA9A;

$sombrasfirst: rgb(163, 177, 198);

//globals
$mpadding: 15px;

//fonts
$title_font: Helvetica;
$text_font: Arial;

//Size
$title_size: 25px;
$text_size: 16px;
$subtitle_size: 20px;

//breakpoints
$mobile_after: 576px;
$tablet_width: 768px;
$desktop_width: 1024px;
$large_desktop: 1200px;